body{
    font-family: 'Montserrat', sans-serif;
}

.btn{
    border-radius: 4rem !important;
}

#landing{
    height: 100vh;
    background-image: url('images/IMG_8423_COMPRESSED.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.sidenav{
    height: -webkit-fill-available !important;
}

.video-container{
    padding-bottom: 200% !important;
}